html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin for the
   * sticky footer to work. */
}

body {
  font-size: 14px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #0088ce;
}

p {
  margin-bottom: 22px;
}

/* Overriding pager styles */
.pager {
  margin-bottom: 50px;
}

.pager li > a {
  background: #0175b0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2599d5), color-stop(100%, #0175b0));
  background-image: -webkit-linear-gradient(#2599d5, #0175b0);
  background-image: -moz-linear-gradient(#2599d5, #0175b0);
  background-image: -o-linear-gradient(#2599d5, #0175b0);
  background-image: -ms-linear-gradient(#2599d5, #0175b0);
  background-image: linear-gradient(#2599d5, #0175b0);
  border: 1px solid #005487;
  border-radius: 5px;
  color: #fff;
  margin-top: 40px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}

.pager .disabled > a {
  display: none;
}

/* Wrapper for page content to push down footer */
#wrap {
  background-color: #1876b3;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 80px;
  background-color: #4e4f51;
  color: #fff;
  font-size: 85%;
}

#footer .container {
  padding-top: 20px;
}

#footer a {
  color: #fff;
}

#footer ul li {
  display: inline;
  margin-left: 10px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#wrap > .container {
  padding: 60px 15px 0;
  background-color: #fff;
}

.sidebar {
  margin-top: 20px;
}

.gallery .row {
  margin-top: 4px;
  margin-bottom: 4px;
}

.navbar {
  background-color: #1876b3;
  color: #fff;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

.navbar a.navbar-brand {
  font-family: arial, sans-serif;
  font-size: 200%;
  letter-spacing: 1px;
}

.navbar a.navbar-brand b {
  font-size: 75%;
  font-family: "pluggy";
}

/* Make sure the list group within a panel does not duplicate the border */
.panel .list-group-item {
  border: none;
}

.project {
  font-size: 85%;
}

.panel .description {
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.panel .watchers {
  margin-left: 50px;
}

.panel .forks,
.panel .watchers {
  color: #999;
  display: inline-block;
}

.panel .forks .count,
.panel .watchers .count {
  color: #000;
}
